(
    selected_tab: Some("Reset"),
    command_fg: Some("#cad3f5"),
    selection_bg: Some("#494d64"),
    selection_fg: Some("#cad3f5"),
    cmdbar_bg: Some("#363a4f"),
    cmdbar_extra_lines_bg: Some("#363a4f"),
    disabled_fg: Some("#6e738d"),
    diff_line_add: Some("#a6da95"),
    diff_line_delete: Some("#ed8796"),
    diff_file_added: Some("#a6da95"),
    diff_file_removed: Some("#ee99a0"),
    diff_file_moved: Some("#c6a0f6"),
    diff_file_modified: Some("#eed49f"),
    commit_hash: Some("#c6a0f6"),
    commit_time: Some("#91d7e3"),
    commit_author: Some("#a6da95"),
    danger_fg: Some("#ed8796"),
    push_gauge_bg: Some("#8aadf4"),
    push_gauge_fg: Some("#24273a"),
    tag_fg: Some("#f0c6c6"),
    branch_fg: Some("#8bd5ca"),
)
